#hero {
    width: 100%;
    height: 100vh;
    background: url("../img/Banner\ De\ Inicio.gif") top center no-repeat;
    background-size: cover;
    position: relative;
    padding-top: 82px;
  }
  
  #hero2 {
    width: 100%;
    height: 100vh;
    background: url("../img/banner\ dos.gif") top center no-repeat;
    background-size: cover;
    position: relative;
    padding-top: 82px;
  }
  
  
    h1 {
    margin: 0;
    font-size: 48px;
    font-weight: 700;
    color: #fff;
  }
  
    h2 {
    color: black;
    margin: 10px 0 0 0;
    font-size: 24px;
  }
  
  #hero .btn-get-started  {
    text-decoration: none;
    font-family: "Raleway", sans-serif;
    font-weight: 500;
    font-size: 16px;
    letter-spacing: 1px;
    display: inline-block;
    padding: 10px 30px;
    border-radius: 4px;
    transition: 0.5s;
    margin-top: 30px;
    color: #fff;
    background: orangered;
    border: 2px solid orange;
  }
/* Averigual si se puede poner para dos id en la misma llamada asi ahorramos codigo */
  #hero2 .btn-get-started  {
    text-decoration: none;
    font-family: "Raleway", sans-serif;
    font-weight: 500;
    font-size: 16px;
    letter-spacing: 1px;
    display: inline-block;
    padding: 10px 30px;
    border-radius: 4px;
    transition: 0.5s;
    margin-top: 30px;
    color: #fff;
    background: orangered;
    border: 2px solid orange;
  }
  
  #hero .btn-get-started:hover {
    background: transparent;
    border-color: #fff;
  }
  
  @media (max-width: 768px) {
    #hero {
      text-align: center;
      padding-top: 58px;
    }

    #hero2{
      text-align: center;
      padding-top: 58px;
    }

  
     h1 {
      font-size: 28px;
    }
  
     h2 {
      font-size: 18px;
      line-height: 24px;
    }
  }
  
  @media (max-height: 500px) {
    #hero {
      height: 120vh;
    }

    #hero2{
      height: 120vh;
    }

   
  }
  

  /* Servicios destacado */

  .textoServicio{
    text-align: center;
    color: orange;

  }


  /* Carrusel */

  .imagenCarrusel{
      height: 500px;
      object-fit: cover;
  }