.formulario{
    border: blanchedalmond 1px solid;
    padding: 20px;
    background-color: #e8caa4;
}

.nuestradireccion{
    @include estiloDatosContacto;

    h3{
        @include estiloFuenteContacto;
    }

    p{
        text-align: center; 
        color: whitesmoke;
    }
}

.nuestroEmail{
    @include estiloDatosContacto;

    h3{
        @include estiloFuenteContacto;
    }

    p{
        text-align: center;
        color: whitesmoke;
    }
}

.nuestroNumero{
    @include estiloDatosContacto;

    h3{
        @include estiloFuenteContacto;
    }

    p{
        text-align: center;
        color: whitesmoke;
    }
}


/* google maps */

.ubicacionGoogleMaps{
    position: relative;
    left: 15%;
    
    
}