/* Servicios Destacados */
.estiloDestacadas{
    
    h2{
        text-align: center;
        color: orange;
        text-decoration-line:underline;
    }

    p{
        text-align: center;
        color: orange; 
    }
}