/* Formulario de contacto*/

.infoExtra{
    position: relative;
    top: 30px;
    right: 20px;
    
    

    h2{
       
        color: orange;
        text-transform:uppercase;
        text-decoration: underline;
       
        
       
        
    }


    
}
