.facebook{
    background: url(../img/LogoFacebook.png); 
    height: map-get($redesSociales , altura );
    width: map-get($redesSociales , ancho );
}

.instagram{
    background: url(../img/LogoInstagram.png);
    height: map-get($redesSociales , altura );
    width: map-get($redesSociales , ancho );
}

