/* Tratamiento */

.imagenTratamientoUno {
    background: url("../img/Tratamiento\ Depilacion\ Definitiva.gif") no-repeat;
    width: 500px;
    height: 500px;
    position: relative;
    left: 40px;
  }

  .imagenTratamientoDos{
    background: url("../img/Tratamiento\ VelaSlimPlus.gif") no-repeat;
    @extend .imagenTratamientoUno;
    left: 80px;
  }

  .imagerTratamientoTres{
    background: url("../img/Tratamiento\ Podologia.gif") no-repeat;
    @extend .imagenTratamientoUno;
  }

  .imagenTratamientoCuatro{
    background: url("../img/Tratamiento\ bodyUp.gif") no-repeat;
    @extend .imagenTratamientoUno;
  }

  .tituloPrincipal{
    text-align: center;
  }  
  .textoDescripcion{
    text-align: center;
  }
